.banner-page {
  margin-top: 53px;

  &-title {
    height: 50vh;
    align-items: center;
    background-color: $secondary;
    display: flex;
    justify-content: center;

    @include media(md) {
      height: 30vh;
    }

    @include media(sm) {
      height: 20vh;
    }

    h1 {
      color: $primary;
      font-size: 25rem;
      font-family: 'Anton';
      text-transform: uppercase;

      @include media(md) {
        font-size: 15rem;
      }

      @include media(sm) {
        font-size: 7rem;
      }

      &::after {
        content: '';
        background-image: url('../../../public/images/background.webp');
        left: 0;
        height: 90%;
        position: absolute;
        top: 5%;
        width: 100%;
      }
    }
  }
}