.content-block {
  &-container {
    padding: 2.5rem 0;

    &-title {
      border-right: .0625rem solid $secondary;

      @include media(md) {
        border-right: none;
      }

      &>h2 {
        color: $secondary;
        font-family: 'Anton';
        font-size: 5rem;
        text-align: center;
        text-transform: uppercase;

        @include media(md) {
          font-size: 4rem;
        }

        @include media(sm) {
          font-size: 3rem
        }
      }
    }

    &-content {


      p {
        text-align: center;

      }
    }
  }
}