.main-banner {
  align-items: center;
  background-image: url('../../../public/images/banner.jpg');
  background-position: 50% 35%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  gap: 2rem;

  @include media (lg) {
    height: calc(100vh - 53px);
  }

  @include media (sm) {
    height: 100vh;
    margin-top: 0;
  }


  &>h1 {
    font-family: 'Prociono';
    color: white;
    letter-spacing: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 28vw;
    line-height: 1;
    display: flex;
    align-items: center;

    &>span {
      &.outline {
        color: transparent;
        -webkit-text-stroke: .25rem white;
      }
    }

    @include media (sm) {
      font-size: 24vw
    }
  }

  &-content {
    align-items: center;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;

    @include media (md) {
      position: initial;
      flex-direction: column;
      padding: 0;
    }


    &-text {
      width: 30%;

      @include media (xxl) {
        width: 40%;
      }

      @include media (md) {
        width: 100%;
      }

      &>h2 {
        font-family: 'Martel';
        font-size: 1.125rem;
        color: $secondary;
        letter-spacing: 0.25rem;
        text-align: left;
        text-transform: uppercase;
        color: $white;

        @include media (xxl) {
          font-size: 1rem
        }

        @include media (md) {
          font-size: 1.25rem
        }

        @include media (sm) {
          font-size: 1rem;
          text-align: center;
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @include media (sm) {
        font-size: 1rem;
      }
    }
  }
}