.ads {
  background-color: $black;
  height: 80vh;
  position: relative;
  overflow: hidden;

  @include media (sm) {
    height: 60vh;
  }

  &-container {
    align-items: center;
    display: flex;
    justify-content: start;
    height: 100%;

    &>h2 {
      color: $accent;
      font-family: 'Anton';
      font-size: 10.5rem;
      line-height: 1;
      position: relative;
      text-align: left;
      text-transform: uppercase;

      @include media (xxl) {
        font-size: 8rem;
      }

      @include media (xl) {
        font-size: 7rem;
        line-height: 1;
      }

      @include media (md) {
        font-size: 5rem;
        line-height: 8rem;
      }

      @include media (sm) {
        font-size: 3rem;
        line-height: 5rem;
      }
    }
  }
}