.projects {
  background-color: $black;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 6rem;


  &-title {
    color: $accent;
    font-family: 'Anton';
    font-size: 2.5rem;
    line-height: 1;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 2rem;


    @include media (md) {
      font-size: 2rem;
      line-height: 1;
    }

    @include media (sm) {
      font-size: 2rem;
      line-height: 1;
    }
  }

  &-content {

    &>p {
      color: $white;
      font-size: 1.5rem;
      line-height: 2.5rem;

      @include media (md) {
        font-size: 1rem;
        line-height: 2.25rem;
      }

      @include media (sm) {
        font-size: 1rem;
        line-height: 2rem;
      }
    }
  }


  &-filter {
    display: flex;
    justify-content: center;
    position: relative;
    color: $white;
    border: 1px solid $white;
    width: fit-content;
    margin: auto;
    border-radius: 100px;
    overflow: hidden;

    &__slider {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $white;
      border-radius: 100px;
      z-index: 0;
      transition: transform 0.3s ease, width 0.3s ease;
    }

    >button {
      position: relative;
      padding: .5rem 2rem;
      background: transparent;
      border: none;
      color: $white;
      font-size: 1rem;
      cursor: pointer;
      z-index: 1;
      transition: color 0.3s ease;

      &.is-active {
        color: $black;
      }
    }
  }

  &-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    &-figure {

      &-mobile {
        position: relative;
        width: 100%;
        height: 500px;
      }

      &-web {
        position: relative;
        width: 100%;
        height: 225px;
      }
    }

    .projects-swiper-container {
      padding: 5rem 0
    }

    .swiper-nav {
      position: absolute;
      top: 1%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: 1;
      gap: 2rem;

      .custom-prev,
      .custom-next {
        background-color: transparent;
        border: none;
        color: $white;
        font-size: 2rem;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: $accent;
        }
      }
    }
  }

}