@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

/* Rum Raisin - Normal */
@font-face {
  font-family: 'Rum Raisin';
  src: url('../styles/fonts/rum-raisin/RumRaisin-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Yanone Kaffeesatz - Light */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../styles/fonts/yanone-kaffeesatz/YanoneKaffeesatz-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Yanone Kaffeesatz - Regular */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../styles/fonts/yanone-kaffeesatz/YanoneKaffeesatz-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Yanone Kaffeesatz - SemiBold */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../styles/fonts/yanone-kaffeesatz/YanoneKaffeesatz-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Yanone Kaffeesatz - Bold */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../styles/fonts/yanone-kaffeesatz/YanoneKaffeesatz-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Fira Sans - Light */
@font-face {
  font-family: 'Fira Sans';
  src: url('../styles/fonts/fira-sans/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Fira Sans - Regular */
@font-face {
  font-family: 'Fira Sans';
  src: url('../styles/fonts/fira-sans/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Fira Sans - Italic */
@font-face {
  font-family: 'Fira Sans';
  src: url('../styles/fonts/fira-sans/FiraSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Fira Sans - Bold */
@font-face {
  font-family: 'Fira Sans';
  src: url('../styles/fonts/fira-sans/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Fira Sans - Bold Italic */
@font-face {
  font-family: 'Fira Sans';
  src: url('../styles/fonts/fira-sans/FiraSans-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Colors */

:root {
  --primary: #1a1a1d;
  --secondary: #edf2ef;
  --white: #fff;
  --black: #000;
}

/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Class */

body {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

/* Loader */

.loader {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.loader .text {
  display: flex;
  color: var(--secondary);
  font-family: 'Yanone Kaffeesatz';
  font-size: 3rem;
  text-transform: uppercase;
}

/* Figures */

.bubble {
  width: 50%;
  height: 90%;
  background: radial-gradient(
    circle at 40% 40%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.1)
  );
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.3);
  position: absolute;
  right: -40%;
}

.bubble::after {
  content: '';
  position: absolute;
  top: 15%;
  left: 15%;
  width: 50%;
  height: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  border-radius: 50%;
}

/* header */

.header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navigation {
  position: relative;
}

.btn-nav {
  border-radius: 1rem;
  height: 2.5rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 0 0.5rem;
  transform: rotate(-10deg);
  z-index: 100;
}

.btn-light {
  color: var(--secondary);
}

.btn-dark {
  color: var(--primary);
}

.btn-nav:hover {
  transform: rotate(0deg);
}

.nav-list {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(163, 163, 163, 0.5);
  box-shadow: 5px 0 25px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  position: absolute;
  transform: translateX(1000px);
  right: 0;
  top: 0;
  width: 35%;
}

.nav-items {
  font-size: 2rem;
}

.nav-item {
  position: relative;
}

.nav-item::after {
  background-color: var(--primary);
  bottom: 0;
  content: '';
  height: 0.125rem;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 0;
}

.nav-item:hover::after {
  width: 100%;
}

/* Main banner */

.main-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.main-banner h1 {
  color: var(--secondary);
  font-family: 'Rum Raisin';
  font-size: 15rem;
  line-height: normal;
  position: relative;
}

.main-banner .description {
  color: var(--secondary);
  font-family: 'Fira Sans';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

/* about */

.about {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.about .section h2 {
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.about .section p {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 300;
}

/* ads */

.work h3 {
  color: var(--secondary);
  font-size: 3rem;
  font-weight: 100;
  line-height: normal;
  text-align: center;
}

.let-talk {
  background-color: var(--secondary);
  overflow: hidden;
}

.let-talk .orbit-letter {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 8rem;
  justify-content: center;
  padding: 2.5rem;
  width: 8rem;
  background-color: var(--primary);
}
.let-talk .letter {
  font-size: 4rem;
  color: var(--secondary);
}

.contact {
  padding: 4rem 0;
}
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-input {
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  font-size: 1rem;
  color: var(--primary);
  outline: none;
}

.form-text-area {
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  width: 100%;
  height: 6rem;
  padding: 0 1rem;
  font-size: 1rem;
  color: var(--primary);
  outline: none;
}

.form-label {
  position: absolute;
  top: 22px;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--primary);
  transition: all 0.3s ease;
  pointer-events: none;
}

.form-input:focus + .form-label,
.form-text-area:focus + .form-label {
  top: -0.5rem;
  font-size: 0.875rem;
  color: var(--primary);
  background-color: var(--secondary);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  transform: translateY(-20%);
}

.form-submit {
  display: flex;
  justify-content: center;
}

.form-submit button {
  background-color: var(--primary);
  border: 0.0625rem solid var(--primary);
  color: var(--secondary);
  padding: 1rem;
  transition: all 150ms ease-in-out;
}

.form-submit button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* footer */

.footer a {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

.footer a:hover {
  color: var(--white);
  letter-spacing: 0.15rem;
}

/* ads */
.ads {
  background-color: var(--primary);
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.circle {
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--secondary);
  border-radius: 100%;
  color: var(--primary);
  display: flex;
  height: 300px;
  justify-content: center;
  margin: auto;
  padding: 0 0 4rem 0;
  width: 300px;
}

.circle h2 {
  font-size: 12.5rem;
  line-height: 10rem;
  text-align: center;
  opacity: 0;
}

.circle h2 span {
  display: block;
}
