@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

strong,
b {
  font-weight: 700;
}

a,
i {
  display: inline-flex;
}

/* Class */

body {
  font-family: 'Martel';
}

body::-webkit-scrollbar {
  display: none;
}

.font-primary {
  font-family: 'Prociono';
}

.font-secondary {
  font-family: 'Chenla';
  font-weight: 400;
}