@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

/* Anton - Normal */
@font-face {
  font-family: 'Anton';
  src: url('../styles/fonts/Anton/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Montserrat - Light */
@font-face {
  font-family: 'Montserrat Alt';
  src: url('../styles/fonts/Montserrat-Alternates/MontserratAlternates-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Montserrat - Regular */
@font-face {
  font-family: 'Montserrat Alt';
  src: url('../styles/fonts/Montserrat-Alternates/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Fira Sans - Bold */
@font-face {
  font-family: 'Montserrat Alt';
  src: url('../styles/fonts/Montserrat-Alternates/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Colors */

:root {
  --primary: #CDC6BE;
  --secondary: #222222;
}

/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

strong,
b {
  font-weight: 700;
}

i {
  display: inline-flex;
}

/* Class */

body {
  background: url('../../public/images/background.webp');
  background-color: var(--primary);
  font-family: 'Montserrat Alt';
}

body::-webkit-scrollbar {
  display: none;
}

.font-primary {
  font-family: 'Anton';
}

.font-secondary {
  font-family: 'Montserrat Alt';
  font-weight: 400;
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--secondary);
}

.btn-secondary {
  background-color: var(--primary);
  border: .0625rem solid transparent;
  color: var(--secondary);
  font-family: 'Anton';
  padding: .5rem;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

.btn-secondary:hover {
  background-color: var(--secondary);
  border-color: var(--primary);
  color: var(--primary);
}

.btn-secondary-outline {
  border: 0.0625rem solid var(--secondary);
  border-radius: 3rem;
  color: var(--secondary);
  padding: 1rem 2rem;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.btn-secondary-outline:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.card {
  border: 0.0625rem solid var(--secondary);
  border-radius: 0.625rem;
  padding: 0.5rem;
}

.card h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.card p {
  font-size: 1rem;
  font-weight: 300;
}

/* Loader */

.loader {
  align-items: center;
  background: url('../../public/images/background.webp');
  background-color: var(--primary);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.loader .text {
  display: flex;
  color: var(--secondary);
  font-family: 'Anton';
  font-size: 4rem;
  text-transform: uppercase;
}

/* header */

.header {
  align-items: center;
  background: url('../../public/images/background.webp');
  background-color: var(--primary);
  border-bottom: .0625rem solid var(--secondary);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navigation {
  position: relative;
}

.logo {
  font-family: 'Anton';
  font-size: 1.5rem;
  text-transform: uppercase;
}

.btn-nav {
  font-family: 'Anton';
  font-size: 1rem;
  position: relative;
  text-transform: uppercase;
  z-index: 100;
}

.btn-light {
  color: var(--secondary);
}

.btn-dark {
  color: var(--primary);
}

.btn-nav:hover {
  transform: rotate(0deg);
}

.nav-list {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(163, 163, 163, 0.5);
  box-shadow: 5px 0 25px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  position: absolute;
  transform: translateX(1000px);
  right: 0;
  top: 0;
  width: 35%;
}

.nav-items {
  color: var(--secondary);
  font-family: 'Anton';
  font-size: 2rem;
}

.nav-item {
  position: relative;
  transition: all 150ms ease-in-out;
}

.nav-item:hover {
  color: var(--secondary);
  margin-left: 1rem;
}

.nav-item button {
  text-align: left;
  width: 100%;
  text-transform: uppercase;
}

/* Main banner */

.main-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.banner-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(40vh);
  justify-content: center;
  padding: 2.5rem;
}

.banner-item:nth-child(2) {
  border-left: .0625rem solid var(--secondary);
  border-right: .0625rem solid var(--secondary);
}

.banner-item h2 {
  font-family: 'Anton';
  font-size: 1.5rem;
  color: var(--secondary);
  letter-spacing: 0.25rem;
  text-align: center;
  text-transform: uppercase;
}

.banner-item p {
  font-family: 'Montserrat Alt';
  font-size: 1rem;
  text-align: center;
}

.banner-title {
  align-items: center;
  display: flex;
  background-color: var(--secondary);
  height: 60vh;
  justify-content: center;
}

.banner-title h1 {
  color: var(--primary);
  font-family: 'Anton';
  font-size: 31rem;
  line-height: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.banner-title h1::after {
  content: '';
  background-image: url('../../public/images/background.webp');
  left: 0;
  height: 90%;
  position: absolute;
  top: 5%;
  width: 100%;
}


.main-banner .description {
  color: var(--accent-secondary);
  font-family: 'Fira Sans';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

/* about */

.about {
  display: flex;
  position: relative;
  overflow: hidden;
}

.about-container {
  border-bottom: .0625rem solid var(--secondary);
  padding: 2.5rem 0;
}

.about-title h2 {
  color: var(--secondary);
  font-family: 'Anton';
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
}


/* services */

.services {
  color: var(--secondary);
  text-align: center;
  overflow: hidden;
  padding: 2.5rem 0;
  position: relative;
}

.services .services-title {
  background-color: var(--secondary);
  padding: 4rem 1rem 1rem;
}

.services .services-title h2 {
  font-family: 'Anton';
  font-size: 17rem;
  color: var(--primary);
  line-height: 1;
  text-transform: uppercase;
  position: relative;
}

.services .services-title h2::after {
  content: '';
  background-image: url('../../public/images/background.webp');
  left: 0;
  height: 120%;
  position: absolute;
  top: -20%;
  width: 100%;
}

.services-wrap .service-item:first-child {
  border-right: .0625rem solid var(--secondary);
}

.services-wrap .service-item:last-child {
  border-top: .0625rem solid var(--secondary);
  padding-bottom: 0;
}

.service-item {
  padding: 2.5rem 1rem;
}

.service-item h3 {
  font-family: 'Anton';
  font-size: 1.5rem;
  text-transform: uppercase;
}

.service-item p {
  font-family: 'Montserrat Alt';
  font-size: 1rem;
  max-width: 20rem;
  margin: auto;
}


/* Projects */

.work-container {
  background-color: var(--secondary);
  overflow: hidden;
}

.work-head {
  border-right: .0625rem solid var(--primary);
  padding: 2rem;
}

.work-head h3 {
  color: var(--primary);
  font-size: 3rem;
  font-family: 'Anton';
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.work-head h3::after {
  content: '';
  background-image: url('../../public/images/background.webp');
  left: 0;
  height: 100%;
  position: absolute;
  top: 0%;
  width: 100%;
}

.work-head h3 span {
  background-color: var(--primary);
  color: var(--secondary);
  display: inline-flex;
  line-height: 1;
  margin-top: .25rem;
  padding: .75rem .5rem;
}

.work-head p {
  color: var(--primary);
  font-family: 'Montserrat Alt';
  font-size: 1rem;
  text-align: center;
}

.work-contain {
  align-items: center;
  color: var(--primary);
  display: flex;
  font-family: 'Anton';
  font-size: 2rem;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
}

/* Contact */

.let-talk {
  overflow: hidden;
}

.let-talk h2 {
  color: var(--secondary);
}

.contact {
  max-width: 40rem;
  margin: auto;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-input,
.form-text-area {
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 0.25rem;
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  color: var(--secondary);
  outline: none;
}

.form-input::placeholder,
.form-text-area::placeholder {
  color: var(--secondary);
  opacity: .75;
}

.form-input {
  height: 3rem;
}

.form-text-area {
  height: 6rem;
}

.form-label {
  font-family: 'Anton';
  font-size: 1rem;
  color: var(--secondary);
  text-transform: uppercase;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.form-submit button {
  background-color: var(--primary);
  border: 0.0625rem solid var(--secondary);
  color: var(--secondary);
  font-family: 'Anton';
  font-size: 1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

.form-submit button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.form-submit button.is-disabled {
  opacity: 0.5;
}

.form-submit button.is-disabled:hover {
  background-color: var(--primary);
  color: var(--secondary);
  cursor: not-allowed;
}

.form-submit button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* footer */

.footer {
  border-top: .0625rem solid var(--secondary);
}

.footer a {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

.footer a:hover {
  text-decoration: underline;
}

/* ads */
.ads {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.ads-container {
  align-items: center;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
}

.ads-container h2 {
  color: var(--primary);
  font-family: 'Anton';
  font-size: 12.5rem;
  line-height: 15rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
}

.ads-container h2::after {
  content: '';
  background-image: url('../../public/images/background.webp');
  left: 0;
  height: 100%;
  position: absolute;
  top: 0%;
  width: 100%;
}


/* not found */

.not-found {
  align-items: center;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 72px);
  justify-content: center;
  padding: 0 2rem;
}

.not-found h2 {
  font-size: 4rem;
  font-weight: 600;
}

/* link tree */

.link-tree {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 72px);
}

.link-tree .tree-buttons {
  display: flex;
  flex-direction: column;
}

/* Responsive */

@media (max-width: 576px) {
  .nav-list {
    width: 100%;
  }

  .banner-item:nth-child(2) {
    border: 0;
    border-bottom: .0625rem solid var(--secondary);
    border-top: .0625rem solid var(--secondary);
  }

  .banner-title {
    height: 25vh;
  }

  .main-banner h1 {
    font-size: 8rem;
  }

  .about-title h2 {
    font-size: 3rem;
  }

  .work-head {
    border: 0;
  }

  .services .services-title {
    padding: 1.5rem 1rem 1rem;
  }

  .services .services-title h2 {
    font-size: 3.5rem;
  }

  .services-wrap .service-item:first-child {
    border-bottom: .0625rem solid var(--secondary);
    border-right: 0;
  }

  .ads-container h2 {
    font-size: 5rem;
    line-height: 8rem;
  }

  .not-found {
    height: calc(100vh - 120px);
  }

  .not-found h2 {
    font-size: 3rem;
  }
}

/* Tablets verticales y móviles grandes */
@media (min-width: 577px) and (max-width: 768px) {
  .main-banner {
    margin-top: 53px;
  }

  .banner-title {
    height: 30vh;
  }

  .main-banner h1 {
    font-size: 17rem;
  }

  .work-head h3 {
    font-size: 2rem;
  }

  .services .services-title {
    padding: 3rem 1rem 1rem
  }

  .services .services-title h2 {
    font-size: 8rem;
  }

  .ads-container h2 {
    font-size: 8rem;
    line-height: 10rem;
  }
}

/* Tablets horizontales y pequeños desktops */
@media (min-width: 769px) and (max-width: 992px) {
  .main-banner h1 {
    font-size: 9rem;
  }
}

/* Pantallas grandes (4K y más) */
@media (min-width: 1201px) {
  /* Estilos para pantallas gigantes */
}