$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-spinner: unquote('"\\e90b"');
$icon-instagram: unquote('"\\e90a"');
$icon-mail-solid: unquote('"\\e909"');
$icon-star-solid: unquote('"\\e902"');
$icon-mail-outline: unquote('"\\e903"');
$icon-internet: unquote('"\\e904"');
$icon-tiktok: unquote('"\\e905"');
$icon-twitter-x: unquote('"\\e906"');
$icon-close: unquote('"\\e907"');
$icon-github: unquote('"\\e908"');