$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron-left: unquote('"\\e909"');
$icon-chevron-right: unquote('"\\e90a"');
$icon-www: unquote('"\\e908"');
$icon-arrow-right-up: unquote('"\\e900"');
$icon-phone: unquote('"\\e901"');
$icon-laptop: unquote('"\\e902"');
$icon-instagram: unquote('"\\e903"');
$icon-linkedin: unquote('"\\e904"');
$icon-github: unquote('"\\e905"');
$icon-whatsapp: unquote('"\\e906"');
$icon-tiktok: unquote('"\\e907"');