/* Fonts */

// Prociono
@font-face {
  font-family: 'Prociono';
  src: url('./fonts/Prociono/Prociono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Chenla */
@font-face {
  font-family: 'Chenla';
  src: url('./fonts/Chenla/Chenla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Martel - Light */
@font-face {
  font-family: 'Martel';
  src: url('./fonts/Martel/Martel-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Martel - Regular */
@font-face {
  font-family: 'Martel';
  src: url('./fonts/Martel/Martel-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Martel - SemiBold */
@font-face {
  font-family: 'Martel';
  src: url('./fonts/Martel/Martel-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Martel - Bold */
@font-face {
  font-family: 'Martel';
  src: url('./fonts/Martel/Martel-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}